<h1>Edit Your registered Vehicle</h1>
<%= form_for @registervehicles , method: :patch do |form| %>
  <div>
    <%= form.label :Name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :Address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>
  <div>
    <%= form.label :PhoneNumber, style: "display: block" %>
    <%= form.text_field :phonenumber %>
  </div>
  <div>
    <%= form.label :VehicleNumber, style: "display: block" %>
    <%= form.text_field :vehiclenumber %>
  </div>
  <div>
    <%= form.submit "UPDATE DETAILS"%>
  </div>
<% end %>

<p> Go Back to Registered <%= link_to "Registered Vehicle List",  registervehicles_path  %>
</p>
<p> Please Register Your vehcile from here <%= link_to "New Vehicle",  new_registervehicle_path%>
</p>