<h1>Please Fill Form for registering your vehcile</h1>
<%= form_for Registervehicle.new do |form| %>
  <div>
    <%= form.label :Name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :Address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>
  <div>
    <%= form.label :PhoneNumber, style: "display: block" %>
    <%= form.text_field :phonenumber %>
  </div>
  <div>
    <%= form.label :VehicleNumber, style: "display: block" %>
    <%= form.text_field :vehiclenumber %>
  </div>
<div class="actions">
  <%= form.submit "Submit" %>
</div>
<% end %>